<h1>Paricipating Schools</h1>

<div class="center">
  <div class="row">
    <% @schools.each do |school| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= school.name %></h3>
            <p><%= school.email %></p>
            <p><%= school.address %></p>
            <p><%= link_to 'Show', school, class: "btn btn-link" %> <%= link_to 'Edit', edit_school_path(school), class: "btn btn-link" %></p>
          </div>
        
          <%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>





